<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
</head>

<body>
  <div id="app">
    {{welcome}}
  </div>

  <script>
    const store = new Vuex.Store({
      state: {
        count: 0,
        list: [1, 2, 3]
      },
      mutations: {
        addCounter(state, number) {
          state.count += number;
        },
        addItemArray(state) {
          state.list.push('ducanh')
        }
      },
      actions: {
        dispatchAddCounter({commit}, number) {
          commit('addCounter', number)
        },

        dispatchAddItemArray({commit}) {
          commit('addItemArray')
        }
      },
      getters: {
        Counter(state) {
          return state.count;
        },
        getList(state) {
          return state.list;
        }
      }
    })

    const Child = {
      template: `<div class="list">
          <button @click="addItem">Click add items</button>
          <ul>
            <li v-for="item in listItem">{{item}}</li>
          </ul>
        </div>`,

        computed: {
          listItem() {
            return store.getters.getList;
          }
        },
        methods: {
          addItem() {
            store.dispatch('dispatchAddItemArray');
          }
        }
    }

    new Vue({
      el: "#app",
      components: { Child },
      template: `<div class="app">
                    <child></child>
                    <ul>
                      <li v-for="item in getList">{{item}} store change</li>
                    </ul>
                 </div>`,
      data() {
        return {
          welcome: "welcome vuong duc anh"
        }
      },
      computed: {
        count() {
          return store.getters.Counter;
        },
        getList() {
          return store.getters.getList;
        }
      },
      methods: {
        pressed() {
          store.dispatch('dispatchAddCounter', 10)
        }
      }
    })
  </script>
</body>

</html>
